@use '../../styles/typography' as typo;
@use '../../styles/buttons' as btn;

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem;
  gap: 1.7rem;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 50px 6px rgba(14, 13, 22, 0.072);
  padding: 2rem;
}

.footerTitle {
  font-weight: typo.$font-weight-bold;
  font-size: 1rem;
  color: #000;
  margin-bottom: 0.5rem;
}

.footerSubtitle {
  font-weight: typo.$font-weight-regular;
  font-size: 1rem;
  color: typo.$font-color;

  .span {
    color: #4338ca;
  }
}

// .footerButton {
//   @include btn.buttons-container;
// }

// .footerButton button {
//   @include btn.button-primary;
// }

@media (max-width: 480px) {
  .content {
    padding: 2rem 1rem;
  }

  .footer {
    flex-direction: column;
    gap: 1rem;
  }
}
