@use '../../styles/typography' as typo;
@use '../../styles/buttons' as btn;

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.buttonContent {
  @include btn.buttons-container;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
  padding: 10px 16px 10px;
}

@media (max-width: 480px) {
  .content {
    padding: 2rem 1rem;
  }
}
