@use '../../styles/typography' as typo;

.conteiner {
  padding: 6rem;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.text {
  margin-bottom: 3rem;

  h2 {
    font-size: 3rem;
    font-weight: typo.$font-weight-bold;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    font-weight: typo.$font-weight-regular;
    color: typo.$font-color;
    margin-bottom: 3rem;
  }
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 37rem;
  max-height: 24rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 50px 6px rgba(14, 13, 22, 0.072);
  gap: 2rem;

  input {
    display: flex;
    width: 15rem;
    height: 2.5rem;
    padding: 2px 3px;
    border: none;
    border-radius: 5px;
    background-color: #e5e5e5;
    flex-direction: column;
  }

  label {
    display: block;
    margin-bottom: 6px;
  }

  .textareaForm {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  textarea {
    resize: none;
    border: none;
    height: 108px;
    border-radius: 5px;
    background-color: #e5e5e5;
  }
}

.counter {
  text-align: right;
  color: typo.$font-color;
}

.button {
  width: 80%;
}

.error {
  border-color: red;
  box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.4);
}

.textError {
  color: red;
}

@media (max-width: 1200px) {
  .conteiner {
    padding: 2rem 1rem;
  }

  .content {
    flex-direction: column;
  }
}
