@use '../../styles/typography' as typo;
@use '../../styles/buttons' as btn;

.navigation {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: space-around;
}

.nav_logo {
  width: 112px;
  height: 32px;
}

.links {
  display: flex;
  gap: 32px;
}

.links a {
  font-family: typo.$font-main;
  font-weight: typo.$font-weight-medium;
  font-size: 16px;
  line-height: 24px;
  color: #525252;
  text-decoration: none;
  display: block;
}

.buttons {
  @include btn.buttons-container;
}

.buttons button {
  @include btn.button-primary;
}

.burgers {
  display: none;
}

.burgers__active {
  display: none;
}

.text {
  font-size: 16px;
  font-family: typo.$font-main;
  font-weight: typo.$font-weight-bold;
}

.brand {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.logo {
  mix-blend-mode: multiply;
}

@media (max-width: 1023px) {
  .buttons {
    display: none;
  }

  .links {
    display: none;
  }

  .burgers {
    display: block;
    mix-blend-mode: multiply;
  }
}
