@use '../../styles/typography' as typo;

.content {
  display: flex;
  max-width: 86rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.itemsList {
  max-width: 25em;
}

.row {
  display: flex;
  align-items: flex-start;
  width: 100%;
  text-align: left;
}

.image {
  margin: 0 auto;
  margin-bottom: 2rem;
}

.imageRow {
  margin-right: 1rem;
  width: 2.5rem;
}

.title {
  font-size: 1.2rem;
  font-weight: typo.$font-weight-SemiBold;
  margin-bottom: 0.5rem;
  color: #000;
}

.subtitle {
  font-weight: typo.$font-weight-regular;
  font-size: 1rem;
  color: typo.$font-color;
}
