// _buttons.scss
@use './typography' as typo;

@mixin buttons-container {
  display: flex;
  gap: 16px;
}

@mixin button-primary {
  font-size: 16px;
  font-family: typo.$font-main;
  font-weight: typo.$font-weight-medium;
  border-radius: 5px;
  padding: 10px 16px 10px;
  border: none;
  background-color: #4f46e5;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.06);
  transition: 0.5s;
  color: #fff;

  &:hover {
    background-color: #3730a3;
  }

  &:focus {
    background-color: #3730a3;
    color: #fff;
  }
}
