*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
video {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

button,
input,
textarea {
  font: inherit;
}

body {
  background-color: #eef2ff;
}

.wrapper {
  margin: 16px;
  border-radius: 5px;
  background-color: #fff;
}

@media (max-width: 1023px) {
  .wrapper {
    margin: 1em;
  }
}
