@use './typography' as typo;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
video {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

button,
input,
textarea {
  font: inherit;
}

:root {
  --color-primary: #eef2ff;
}

body {
  background-color: var(--color-primary);
  font-family: typo.$font-main;
  font-weight: typo.$font-weight-regular;
}

.wrapper {
  margin: 16px;
  border-radius: 5px;
  background-color: #fff;
}

@media (max-width: 1023px) {
  .wrapper {
    margin: 1em;
  }
}
