@use '../../styles/typography' as typo;
@use '../../styles/buttons' as btn;

.card {
  display: flex;
  border: 1px gray solid;
  border-radius: 5px;
  flex-direction: column;
  transition: 1s;

  &:hover {
    border-color: #2717d5;
    box-shadow: 0px 25px 50px -12px rgba(51, 1, 252, 0.997);

    .descriptionCard {
      display: flex;
    }
  }
}

.content {
  display: flex;
  max-width: 24em;
  height: 45em;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  transition: 1s;
}

.descriptionCard {
  display: none;
  height: 3.7rem;
  justify-content: center;
  align-items: center;
  background-color: #aba5f0;
  color: #4338ca;
  font-weight: typo.$font-weight-bold;
  font-size: 1.2rem;
}

.text h2 {
  margin-bottom: 0.5em;
  font-weight: typo.$font-weight-bold;
  font-size: 2.1em;
}

.text p {
  font-size: 1em;
  font-weight: typo.$font-weight-regular;
  color: typo.$font-color;
}

.prise {
  font-weight: typo.$font-weight-SemiBold;
  font-size: 3rem;
  color: #000;
}

.period {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.description {
  color: typo.$font-color;
}

.linkPrise ul {
  display: flex;
  flex-direction: column;
  color: typo.$font-color;
  gap: 2em;
}

.linkPrise li {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.buttonCards {
  @include btn.buttons-container;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.buttonCards button {
  @include btn.button-primary;
  padding: 0.6em 7.8em;
  white-space: nowrap;
}

@media (max-width: 480px) {
  .content {
    padding: 2rem 1rem;
  }

  .card {
    flex: 0 0 100%;
    width: 100%;
  }
}
